.about {
    color: rgb(74, 9, 196);
}
.image_cus {
    width: 100%;
    height: 500px;
    background-image: url("//img/cat.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}